In [1]:
import pandas as pd
from sql_functions import *

In [2]:
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', None) # to show complete content of cell

In [3]:
def change_col_names(df):
    col_labels = df.columns.tolist()
    new_col_labels = [l.lower().replace(" ", "_").replace("ä", "ae").replace("ö", "oe").replace("ü", "ue").replace('\n', '_') for l in col_labels]
    df.columns = new_col_labels

In [4]:
einw_laender_altersgruppen_geschlecht = pd.read_excel("data/Bevoelkerungszahlen_EDA_Jugendkriminalitaet/einw_altersgr_geschlecht_laender_2022-2018.xlsx")

In [5]:
change_col_names(einw_laender_altersgruppen_geschlecht)

In [6]:
einw_laender_altersgruppen_geschlecht.head()

,bundesland,sexus,stichtag,year,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14_bis_unter_18,heranwachsende_18_bis_unter_21,jugendliche_und_heranwachsende_14_bis_unter_21,erwachsene_ab_21_bzw_ueber_20,insgesamt
0,Baden-Württemberg,M,31.12.2017,2018,103094,106198,209292,730802,109624,117190,226814,203065,429879,4316660,5477341
1,Baden-Württemberg,W,31.12.2017,2018,98422,100343,198765,693707,102111,108659,210770,179975,390745,4461632,5546084
2,Baden-Württemberg,X,31.12.2017,2018,201516,206541,408057,1424509,211735,225849,437584,383040,820624,8778292,11023425
3,Bayern,M,31.12.2017,2018,116657,118660,235317,839915,122634,132576,255210,228740,483950,5114638,6438503
4,Bayern,W,31.12.2017,2018,110535,113206,223741,798231,116595,122582,239177,202890,442067,5318403,6558701

In [7]:
schema='public'
table_name = 'einw_laender_altersgruppen_geschlecht_2022_until_2018'
engine = get_engine()
print(engine)

Engine(postgresql://user:***@host/database)

In [8]:
if engine!=None:
    try:
        einw_laender_altersgruppen_geschlecht.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The einw_laender_altersgruppen_geschlecht_2022_until_2018 table was imported successfully.