In [1]:
import pandas as pd
from sql_functions import *
from normal_round import normal_round as normal_round

In [2]:
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', None)

# Laender

In [3]:
df_laender_abs = get_dataframe("SELECT * FROM public.laender_jugend_tat_absolut_2022_until_2018;")
df_laender_rel = get_dataframe("SELECT * FROM public.laender_jugend_tat_relativ_2022_until_2018;")

In [4]:
df_laender_abs.head()

,schluessel,straftat,bundesland,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,Baden-Württemberg,M,184801,1305,2975,4280,5246,6585,10078,16663,20122,36785,142770,2018
1,------,Straftaten insgesamt,Bayern,M,226208,1390,3101,4491,6276,6786,10604,17390,24065,41455,178477,2018
2,------,Straftaten insgesamt,Berlin,M,101377,831,1561,2392,3112,2881,3977,6858,7941,14799,83466,2018
3,------,Straftaten insgesamt,Brandenburg,M,49670,547,962,1509,2050,1869,2469,4338,3910,8248,39372,2018
4,------,Straftaten insgesamt,Bremen,M,18519,95,224,319,389,642,1125,1767,1934,3701,14429,2018

In [5]:
# merge absolute and relative
df_laender_abs_rel_1 = df_laender_abs.merge(df_laender_rel, on=['schluessel', 'bundesland', 'sexus', 'year'], how='left')

# filter for relevant columns and bring them in correct order
df_laender_abs_rel_1 = df_laender_abs_rel_1[['schluessel', 'straftat_x', 'bundesland', 'year', 'sexus',
                                         'jugendliche_14_bis_unter_16', 'jugendliche_16_bis_unter_18', 'heranwachsende_18_bis_unter_21',
                                         'jugendl_u_heranwachsende_14_bis_unter_21',
                                         'jugendliche_14_bis_unter_16_rel', 'jugendliche_16_bis_unter_18_rel', 'heranwachsende_18_bis_unter_21_rel',
                                         'jugendl_u_heranwachsende_14_bis_unter_21_rel']]

# give columns shorter and descriptive names
df_laender_abs_rel_1 = df_laender_abs_rel_1.rename(columns={'schluessel_x': 'schluessel', 'straftat_x': 'straftat'})
df_laender_abs_rel_1.head()

,schluessel,straftat,bundesland,year,sexus,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,jugendliche_14_bis_unter_16_rel,jugendliche_16_bis_unter_18_rel,heranwachsende_18_bis_unter_21_rel,jugendl_u_heranwachsende_14_bis_unter_21_rel
0,------,Straftaten insgesamt,Baden-Württemberg,2018,M,6585,10078,20122,36785,6006.896300,8599.709873,9909.142393,8557.059079
1,------,Straftaten insgesamt,Bayern,2018,M,6786,10604,24065,41455,5533.538823,7998.431089,10520.678500,8565.967559
2,------,Straftaten insgesamt,Berlin,2018,M,2881,3977,7941,14799,10001.735810,13427.192005,15860.429815,13640.637098
3,------,Straftaten insgesamt,Brandenburg,2018,M,1869,2469,3910,8248,8664.410551,11170.429353,12308.370321,10933.047017
4,------,Straftaten insgesamt,Bremen,2018,M,642,1125,1934,3701,10819.009100,16922.382671,15209.185278,14629.614989

In [6]:
df_laender_abs_rel_2 = df_laender_abs_rel_1[['schluessel', 'straftat', 'bundesland', 'year', 'sexus', 'jugendliche_14_bis_unter_16', 'jugendliche_14_bis_unter_16_rel']]
df_laender_abs_rel_2['age_group'] = 'jugendliche_14_bis_unter_16'
df_laender_abs_rel_2 = df_laender_abs_rel_2.rename(columns={'jugendliche_14_bis_unter_16': 'offenders', 'jugendliche_14_bis_unter_16_rel': 'offenders_rel'})

df_laender_abs_rel_3 = df_laender_abs_rel_1[['schluessel', 'straftat', 'bundesland', 'year', 'sexus', 'jugendliche_16_bis_unter_18', 'jugendliche_16_bis_unter_18_rel']]
df_laender_abs_rel_3['age_group'] = 'jugendliche_16_bis_unter_18'
df_laender_abs_rel_3 = df_laender_abs_rel_3.rename(columns={'jugendliche_16_bis_unter_18': 'offenders', 'jugendliche_16_bis_unter_18_rel': 'offenders_rel'})

df_laender_abs_rel_4 = df_laender_abs_rel_1[['schluessel', 'straftat', 'bundesland', 'year', 'sexus', 'heranwachsende_18_bis_unter_21', 'heranwachsende_18_bis_unter_21_rel']]
df_laender_abs_rel_4['age_group'] = 'heranwachsende_18_bis_unter_21'
df_laender_abs_rel_4 = df_laender_abs_rel_4.rename(columns={'heranwachsende_18_bis_unter_21': 'offenders', 'heranwachsende_18_bis_unter_21_rel': 'offenders_rel'})

df_laender_abs_rel_5 = df_laender_abs_rel_1[['schluessel', 'straftat', 'bundesland', 'year', 'sexus', 'jugendl_u_heranwachsende_14_bis_unter_21', 'jugendl_u_heranwachsende_14_bis_unter_21_rel']]
df_laender_abs_rel_5['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'
df_laender_abs_rel_5 = df_laender_abs_rel_5.rename(columns={'jugendl_u_heranwachsende_14_bis_unter_21': 'offenders', 'jugendl_u_heranwachsende_14_bis_unter_21_rel': 'offenders_rel'})

df_laender_abs_rel_5.head()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/3762310930.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_laender_abs_rel_2['age_group'] = 'jugendliche_14_bis_unter_16'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/3762310930.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_laender_abs_rel_3['age_group'] = 'jugendliche_16_bis_unter_18'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/3762310930.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_laender_abs_rel_4['age_group'] = 'heranwachsende_18_bis_unter_21'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/3762310930.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_laender_abs_rel_5['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'

,schluessel,straftat,bundesland,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,Baden-Württemberg,2018,M,36785,8557.059079,jugendl_u_heranwachsende_14_bis_unter_21
1,------,Straftaten insgesamt,Bayern,2018,M,41455,8565.967559,jugendl_u_heranwachsende_14_bis_unter_21
2,------,Straftaten insgesamt,Berlin,2018,M,14799,13640.637098,jugendl_u_heranwachsende_14_bis_unter_21
3,------,Straftaten insgesamt,Brandenburg,2018,M,8248,10933.047017,jugendl_u_heranwachsende_14_bis_unter_21
4,------,Straftaten insgesamt,Bremen,2018,M,3701,14629.614989,jugendl_u_heranwachsende_14_bis_unter_21

In [7]:
df_laender_abs_rel_6 = pd.concat([df_laender_abs_rel_2, df_laender_abs_rel_3, df_laender_abs_rel_4, df_laender_abs_rel_5])
df_laender_abs_rel_6.head()

,schluessel,straftat,bundesland,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,Baden-Württemberg,2018,M,6585,6006.896300,jugendliche_14_bis_unter_16
1,------,Straftaten insgesamt,Bayern,2018,M,6786,5533.538823,jugendliche_14_bis_unter_16
2,------,Straftaten insgesamt,Berlin,2018,M,2881,10001.735810,jugendliche_14_bis_unter_16
3,------,Straftaten insgesamt,Brandenburg,2018,M,1869,8664.410551,jugendliche_14_bis_unter_16
4,------,Straftaten insgesamt,Bremen,2018,M,642,10819.009100,jugendliche_14_bis_unter_16

In [8]:
values_offenders_rel = df_laender_abs_rel_6['offenders_rel'].tolist()
new_values = []
for v in values_offenders_rel:
        new_v = int(normal_round(v))
        new_values.append(new_v)
df_laender_abs_rel_6['offenders_rel'] = new_values

df_laender_abs_rel_6.head()

,schluessel,straftat,bundesland,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,Baden-Württemberg,2018,M,6585,6007,jugendliche_14_bis_unter_16
1,------,Straftaten insgesamt,Bayern,2018,M,6786,5534,jugendliche_14_bis_unter_16
2,------,Straftaten insgesamt,Berlin,2018,M,2881,10002,jugendliche_14_bis_unter_16
3,------,Straftaten insgesamt,Brandenburg,2018,M,1869,8664,jugendliche_14_bis_unter_16
4,------,Straftaten insgesamt,Bremen,2018,M,642,10819,jugendliche_14_bis_unter_16

In [9]:
df_laender_abs_rel_6.columns

Index(['schluessel', 'straftat', 'bundesland', 'year', 'sexus', 'offenders',
       'offenders_rel', 'age_group'],
      dtype='object')

In [10]:
df_laender_abs_rel = df_laender_abs_rel_6[['schluessel', 'straftat', 'bundesland', 'year', 'age_group', 'sexus', 'offenders', 'offenders_rel']]
df_laender_abs_rel = df_laender_abs_rel.reset_index()
df_laender_abs_rel = df_laender_abs_rel.drop(columns='index')
df_laender_abs_rel.head()

,schluessel,straftat,bundesland,year,age_group,sexus,offenders,offenders_rel
0,------,Straftaten insgesamt,Baden-Württemberg,2018,jugendliche_14_bis_unter_16,M,6585,6007
1,------,Straftaten insgesamt,Bayern,2018,jugendliche_14_bis_unter_16,M,6786,5534
2,------,Straftaten insgesamt,Berlin,2018,jugendliche_14_bis_unter_16,M,2881,10002
3,------,Straftaten insgesamt,Brandenburg,2018,jugendliche_14_bis_unter_16,M,1869,8664
4,------,Straftaten insgesamt,Bremen,2018,jugendliche_14_bis_unter_16,M,642,10819

# Bund

In [11]:
df_bund_abs = get_dataframe("SELECT * FROM public.bund_jugend_tat_absolut_2022_until_2018;")
df_bund_rel = get_dataframe("SELECT * FROM public.bund_jugend_tat_relativ_2022_until_2018;")

In [12]:
df_bund_abs.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,43036,310,1168,1478,1710,2861,2789,5650,4018,9668,31658,2018
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,2500,76,309,385,408,339,133,472,133,605,1487,2018

In [13]:
# merge absolute and relative
df_bund_abs_rel_1 = df_bund_abs.merge(df_bund_rel, on=['schluessel', 'sexus', 'year'], how='left')

# filter for relevant columns and bring them in correct order
df_bund_abs_rel_1 = df_bund_abs_rel_1[['schluessel', 'straftat_x', 'year', 'sexus',
                                         'jugendliche_14_bis_unter_16', 'jugendliche_16_bis_unter_18', 'heranwachsende_18_bis_unter_21',
                                         'jugendl_u_heranwachsende_14_bis_unter_21',
                                         'jugendliche_14_bis_unter_16_rel', 'jugendliche_16_bis_unter_18_rel', 'heranwachsende_18_bis_unter_21_rel',
                                         'jugendl_u_heranwachsende_14_bis_unter_21_rel']]

# give columns shorter and descriptive names
df_bund_abs_rel_1 = df_bund_abs_rel_1.rename(columns={'schluessel_x': 'schluessel', 'straftat_x': 'straftat'})
df_bund_abs_rel_1.head()

,schluessel,straftat,year,sexus,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,jugendliche_14_bis_unter_16_rel,jugendliche_16_bis_unter_18_rel,heranwachsende_18_bis_unter_21_rel,jugendl_u_heranwachsende_14_bis_unter_21_rel
0,------,Straftaten insgesamt,2018,M,52244,76029,147013,275286,6723.489358,9104.833301,10596.073745,9177.711263
1,------,Straftaten insgesamt,2018,W,24451,24707,38510,87668,3347.484834,3204.086582,3093.383886,3192.044430
2,------,Straftaten insgesamt,2018,X,76695,100736,185523,362954,5087.676936,6271.896318,7047.825056,6316.682733
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,M,2861,2789,4018,9668,368.193535,333.995976,289.600405,322.319742
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,W,339,133,133,605,46.411082,17.247886,10.683460,22.028413

In [14]:
df_bund_abs_rel_2 = df_bund_abs_rel_1[['schluessel', 'straftat', 'year', 'sexus', 'jugendliche_14_bis_unter_16', 'jugendliche_14_bis_unter_16_rel']]
df_bund_abs_rel_2['age_group'] = 'jugendliche_14_bis_unter_16'
df_bund_abs_rel_2 = df_bund_abs_rel_2.rename(columns={'jugendliche_14_bis_unter_16': 'offenders', 'jugendliche_14_bis_unter_16_rel': 'offenders_rel'})

df_bund_abs_rel_3 = df_bund_abs_rel_1[['schluessel', 'straftat', 'year', 'sexus', 'jugendliche_16_bis_unter_18', 'jugendliche_16_bis_unter_18_rel']]
df_bund_abs_rel_3['age_group'] = 'jugendliche_16_bis_unter_18'
df_bund_abs_rel_3 = df_bund_abs_rel_3.rename(columns={'jugendliche_16_bis_unter_18': 'offenders', 'jugendliche_16_bis_unter_18_rel': 'offenders_rel'})

df_bund_abs_rel_4 = df_bund_abs_rel_1[['schluessel', 'straftat', 'year', 'sexus', 'heranwachsende_18_bis_unter_21', 'heranwachsende_18_bis_unter_21_rel']]
df_bund_abs_rel_4['age_group'] = 'heranwachsende_18_bis_unter_21'
df_bund_abs_rel_4 = df_bund_abs_rel_4.rename(columns={'heranwachsende_18_bis_unter_21': 'offenders', 'heranwachsende_18_bis_unter_21_rel': 'offenders_rel'})

df_bund_abs_rel_5 = df_bund_abs_rel_1[['schluessel', 'straftat', 'year', 'sexus', 'jugendl_u_heranwachsende_14_bis_unter_21', 'jugendl_u_heranwachsende_14_bis_unter_21_rel']]
df_bund_abs_rel_5['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'
df_bund_abs_rel_5 = df_bund_abs_rel_5.rename(columns={'jugendl_u_heranwachsende_14_bis_unter_21': 'offenders', 'jugendl_u_heranwachsende_14_bis_unter_21_rel': 'offenders_rel'})

df_bund_abs_rel_5.head()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/577161359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bund_abs_rel_2['age_group'] = 'jugendliche_14_bis_unter_16'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/577161359.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bund_abs_rel_3['age_group'] = 'jugendliche_16_bis_unter_18'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/577161359.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bund_abs_rel_4['age_group'] = 'heranwachsende_18_bis_unter_21'
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_9963/577161359.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bund_abs_rel_5['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'

,schluessel,straftat,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,2018,M,275286,9177.711263,jugendl_u_heranwachsende_14_bis_unter_21
1,------,Straftaten insgesamt,2018,W,87668,3192.044430,jugendl_u_heranwachsende_14_bis_unter_21
2,------,Straftaten insgesamt,2018,X,362954,6316.682733,jugendl_u_heranwachsende_14_bis_unter_21
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,M,9668,322.319742,jugendl_u_heranwachsende_14_bis_unter_21
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,W,605,22.028413,jugendl_u_heranwachsende_14_bis_unter_21

In [15]:
df_bund_abs_rel_6 = pd.concat([df_bund_abs_rel_2, df_bund_abs_rel_3, df_bund_abs_rel_4, df_bund_abs_rel_5])
df_bund_abs_rel_6.head()

,schluessel,straftat,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,2018,M,52244,6723.489358,jugendliche_14_bis_unter_16
1,------,Straftaten insgesamt,2018,W,24451,3347.484834,jugendliche_14_bis_unter_16
2,------,Straftaten insgesamt,2018,X,76695,5087.676936,jugendliche_14_bis_unter_16
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,M,2861,368.193535,jugendliche_14_bis_unter_16
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,W,339,46.411082,jugendliche_14_bis_unter_16

In [16]:
values_offenders_rel = df_bund_abs_rel_6['offenders_rel'].tolist()
new_values = []
for v in values_offenders_rel:
        new_v = int(normal_round(v))
        new_values.append(new_v)
df_bund_abs_rel_6['offenders_rel'] = new_values

df_bund_abs_rel_6.head()

,schluessel,straftat,year,sexus,offenders,offenders_rel,age_group
0,------,Straftaten insgesamt,2018,M,52244,6723,jugendliche_14_bis_unter_16
1,------,Straftaten insgesamt,2018,W,24451,3347,jugendliche_14_bis_unter_16
2,------,Straftaten insgesamt,2018,X,76695,5088,jugendliche_14_bis_unter_16
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,M,2861,368,jugendliche_14_bis_unter_16
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,2018,W,339,46,jugendliche_14_bis_unter_16

In [17]:
df_bund_abs_rel_6['bundesland'] = 'Bundesrepublik Deutschland'
df_bund_abs_rel_6.columns

Index(['schluessel', 'straftat', 'year', 'sexus', 'offenders', 'offenders_rel',
       'age_group', 'bundesland'],
      dtype='object')

In [18]:
df_bund_abs_rel = df_bund_abs_rel_6[['schluessel', 'straftat', 'bundesland', 'year', 'age_group', 'sexus', 'offenders', 'offenders_rel']]
df_bund_abs_rel = df_bund_abs_rel.reset_index()
df_bund_abs_rel = df_bund_abs_rel.drop(columns='index')
df_bund_abs_rel.head()

,schluessel,straftat,bundesland,year,age_group,sexus,offenders,offenders_rel
0,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,52244,6723
1,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,24451,3347
2,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,X,76695,5088
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,2861,368
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,339,46

# Concat Laender and Bund in One DataFrame

In [19]:
df_bund_laender_abs_rel = pd.concat([df_bund_abs_rel, df_laender_abs_rel])
df_bund_laender_abs_rel = df_bund_laender_abs_rel.reset_index()
df_bund_laender_abs_rel = df_bund_laender_abs_rel.drop(columns='index')
df_bund_laender_abs_rel.head()

,schluessel,straftat,bundesland,year,age_group,sexus,offenders,offenders_rel
0,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,52244,6723
1,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,24451,3347
2,------,Straftaten insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,X,76695,5088
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,2861,368
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,339,46

## Upload <br>df_laender_abs_rel <br>and <br>df_bund_laender_abs_rel <br>to Database

In [20]:
schema='public'
table_name = 'df_bund_laender_abs_rel_2022_until_2018'
engine = get_engine()
print(engine)

Engine(postgresql://user:***@host/database)

In [21]:
if engine!=None:
    try:
        df_bund_laender_abs_rel.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_bund_laender_abs_rel_2022_until_2018 table was imported successfully.