In [1]:
import pandas as pd
from sql_functions import *
from normal_round import normal_round as normal_round

In [2]:
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', None)

In [3]:
df_bund_abs = get_dataframe('SELECT * FROM public.bund_jugend_tat_absolut_2022_until_2018;')

In [4]:
df_bund_abs.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,43036,310,1168,1478,1710,2861,2789,5650,4018,9668,31658,2018
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,2500,76,309,385,408,339,133,472,133,605,1487,2018

In [5]:
# jugendliche_14_bis_unter_16
df_1 = df_bund_abs[['schluessel', 'straftat', 'sexus', 'year', 'jugendliche_14_bis_unter_16']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['sexus', 'year', 'jugendliche_14_bis_unter_16']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year'])['jugendliche_14_bis_unter_16']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendliche_14_bis_unter_16_x'] / df_4['jugendliche_14_bis_unter_16_y'] * 100

df_4 = df_4.drop(columns='jugendliche_14_bis_unter_16_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
row_labels = []

for y in year:
    for g in gender:
        row_label = g + str(y)
        df_5.loc[row_label] = df_5[(df_5['sexus'] == g) & (df_5['year'] == y)].sum()
        df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
        df_5.loc[row_label, 'schluessel'] = 'other'
        df_5.loc[row_label, 'straftat'] = 'other'
        df_5.loc[row_label, 'rank'] = 'n.a.'
        df_5.loc[row_label, 'sexus'] = g
        df_5.loc[row_label, 'year'] = y
        row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendliche_14_bis_unter_16'

df_14_bis_unter_16 = df_4[['year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_14_bis_unter_16.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/2727009987.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
175,2021,jugendliche_14_bis_unter_16,W,other,other,n.a.,20.22
176,2021,jugendliche_14_bis_unter_16,X,other,other,n.a.,14.11
177,2022,jugendliche_14_bis_unter_16,M,other,other,n.a.,9.27
178,2022,jugendliche_14_bis_unter_16,W,other,other,n.a.,14.50
179,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,10.95

In [6]:
# jugendliche_16_bis_unter_18
df_1 = df_bund_abs[['schluessel', 'straftat', 'sexus', 'year', 'jugendliche_16_bis_unter_18']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['sexus', 'year', 'jugendliche_16_bis_unter_18']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year'])['jugendliche_16_bis_unter_18']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendliche_16_bis_unter_18_x'] / df_4['jugendliche_16_bis_unter_18_y'] * 100

df_4 = df_4.drop(columns='jugendliche_16_bis_unter_18_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
row_labels = []

for y in year:
    for g in gender:
        row_label = g + str(y)
        df_5.loc[row_label] = df_5[(df_5['sexus'] == g) & (df_5['year'] == y)].sum()
        df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
        df_5.loc[row_label, 'schluessel'] = 'other'
        df_5.loc[row_label, 'straftat'] = 'other'
        df_5.loc[row_label, 'rank'] = 'n.a.'
        df_5.loc[row_label, 'sexus'] = g
        df_5.loc[row_label, 'year'] = y
        row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendliche_16_bis_unter_18'

df_16_bis_unter_18 = df_4[['year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_16_bis_unter_18.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/1139691608.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
175,2021,jugendliche_16_bis_unter_18,W,other,other,n.a.,31.56
176,2021,jugendliche_16_bis_unter_18,X,other,other,n.a.,17.95
177,2022,jugendliche_16_bis_unter_18,M,other,other,n.a.,16.36
178,2022,jugendliche_16_bis_unter_18,W,other,other,n.a.,25.02
179,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,18.50

In [7]:
# heranwachsende_18_bis_unter_21
df_1 = df_bund_abs[['schluessel', 'straftat', 'sexus', 'year', 'heranwachsende_18_bis_unter_21']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['sexus', 'year', 'heranwachsende_18_bis_unter_21']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year'])['heranwachsende_18_bis_unter_21']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['heranwachsende_18_bis_unter_21_x'] / df_4['heranwachsende_18_bis_unter_21_y'] * 100

df_4 = df_4.drop(columns='heranwachsende_18_bis_unter_21_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
row_labels = []

for y in year:
    for g in gender:
        row_label = g + str(y)
        df_5.loc[row_label] = df_5[(df_5['sexus'] == g) & (df_5['year'] == y)].sum()
        df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
        df_5.loc[row_label, 'schluessel'] = 'other'
        df_5.loc[row_label, 'straftat'] = 'other'
        df_5.loc[row_label, 'rank'] = 'n.a.'
        df_5.loc[row_label, 'sexus'] = g
        df_5.loc[row_label, 'year'] = y
        row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'heranwachsende_18_bis_unter_21'

df_18_bis_unter_21 = df_4[['year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_18_bis_unter_21.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/2021324220.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
175,2021,heranwachsende_18_bis_unter_21,W,other,other,n.a.,47.16
176,2021,heranwachsende_18_bis_unter_21,X,other,other,n.a.,27.20
177,2022,heranwachsende_18_bis_unter_21,M,other,other,n.a.,25.49
178,2022,heranwachsende_18_bis_unter_21,W,other,other,n.a.,44.88
179,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,29.75

In [8]:
# jugendl_u_heranwachsende_14_bis_unter_21
df_1 = df_bund_abs[['schluessel', 'straftat', 'sexus', 'year', 'jugendl_u_heranwachsende_14_bis_unter_21']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['sexus', 'year', 'jugendl_u_heranwachsende_14_bis_unter_21']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year'])['jugendl_u_heranwachsende_14_bis_unter_21']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendl_u_heranwachsende_14_bis_unter_21_x'] / df_4['jugendl_u_heranwachsende_14_bis_unter_21_y'] * 100

df_4 = df_4.drop(columns='jugendl_u_heranwachsende_14_bis_unter_21_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
row_labels = []

for y in year:
    for g in gender:
        row_label = g + str(y)
        df_5.loc[row_label] = df_5[(df_5['sexus'] == g) & (df_5['year'] == y)].sum()
        df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
        df_5.loc[row_label, 'schluessel'] = 'other'
        df_5.loc[row_label, 'straftat'] = 'other'
        df_5.loc[row_label, 'rank'] = 'n.a.'
        df_5.loc[row_label, 'sexus'] = g
        df_5.loc[row_label, 'year'] = y
        row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'

df_14_bis_unter_21 = df_4[['year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_14_bis_unter_21.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/196464898.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
175,2021,jugendl_u_heranwachsende_14_bis_unter_21,W,other,other,n.a.,35.23
176,2021,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.64
177,2022,jugendl_u_heranwachsende_14_bis_unter_21,M,other,other,n.a.,19.07
178,2022,jugendl_u_heranwachsende_14_bis_unter_21,W,other,other,n.a.,29.47
179,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.71

In [9]:
df_distribution_crime_bund = pd.concat([df_14_bis_unter_16, df_16_bis_unter_18, df_18_bis_unter_21, df_14_bis_unter_21])
df_distribution_crime_bund['bundesland'] = 'Bundesrepublik Deutschland'
df_distribution_crime_bund = df_distribution_crime_bund.reset_index()
df_distribution_crime_bund = df_distribution_crime_bund.drop(columns='index')
df_distribution_crime_bund = df_distribution_crime_bund[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]
df_distribution_crime_bund.tail()

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
715,Bundesrepublik Deutschland,2021,jugendl_u_heranwachsende_14_bis_unter_21,W,other,other,n.a.,35.23
716,Bundesrepublik Deutschland,2021,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.64
717,Bundesrepublik Deutschland,2022,jugendl_u_heranwachsende_14_bis_unter_21,M,other,other,n.a.,19.07
718,Bundesrepublik Deutschland,2022,jugendl_u_heranwachsende_14_bis_unter_21,W,other,other,n.a.,29.47
719,Bundesrepublik Deutschland,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.71

# Repeat process -> Bundesländer

In [10]:
df_laender_abs = get_dataframe('SELECT * FROM public.laender_jugend_tat_absolut_2022_until_2018;')

In [11]:
df_laender_abs['bundesland'].unique()

array(['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen',
       'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen',
       'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen',
       'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen'], dtype=object)

In [12]:
# jugendliche_14_bis_unter_16
df_1 = df_laender_abs[['bundesland', 'schluessel', 'straftat', 'sexus', 'year', 'jugendliche_14_bis_unter_16']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['bundesland', 'sexus', 'year', 'jugendliche_14_bis_unter_16']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year', 'bundesland'])['jugendliche_14_bis_unter_16']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year', 'bundesland'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendliche_14_bis_unter_16_x'] / df_4['jugendliche_14_bis_unter_16_y'] * 100

df_4 = df_4.drop(columns='jugendliche_14_bis_unter_16_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
bundeslaender = ['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen']
row_labels = []

for y in year:
    for g in gender:
        for b in bundeslaender:
            row_label = g + str(y) + b
            df_5.loc[row_label] = df_5[(df_5['bundesland'] == b) & (df_5['sexus'] == g) & (df_5['year'] == y)].sum()
            df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
            df_5.loc[row_label, 'bundesland'] = b
            df_5.loc[row_label, 'schluessel'] = 'other'
            df_5.loc[row_label, 'straftat'] = 'other'
            df_5.loc[row_label, 'rank'] = 'n.a.'
            df_5.loc[row_label, 'sexus'] = g
            df_5.loc[row_label, 'year'] = y
            row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendliche_14_bis_unter_16'

df_laender_14_bis_unter_16 = df_4[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_laender_14_bis_unter_16.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/2409983859.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
2875,Saarland,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,14.88
2876,Sachsen,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,19.31
2877,Sachsen-Anhalt,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,11.65
2878,Schleswig-Holstein,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,15.28
2879,Thüringen,2022,jugendliche_14_bis_unter_16,X,other,other,n.a.,15.28

In [13]:
# jugendliche_16_bis_unter_18
df_1 = df_laender_abs[['bundesland', 'schluessel', 'straftat', 'sexus', 'year', 'jugendliche_16_bis_unter_18']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['bundesland', 'sexus', 'year', 'jugendliche_16_bis_unter_18']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year', 'bundesland'])['jugendliche_16_bis_unter_18']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year', 'bundesland'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendliche_16_bis_unter_18_x'] / df_4['jugendliche_16_bis_unter_18_y'] * 100

df_4 = df_4.drop(columns='jugendliche_16_bis_unter_18_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
bundeslaender = ['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen']
row_labels = []

for y in year:
    for g in gender:
        for b in bundeslaender:
            row_label = g + str(y) + b
            df_5.loc[row_label] = df_5[(df_5['bundesland'] == b) & (df_5['sexus'] == g) & (df_5['year'] == y)].sum()
            df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
            df_5.loc[row_label, 'bundesland'] = b
            df_5.loc[row_label, 'schluessel'] = 'other'
            df_5.loc[row_label, 'straftat'] = 'other'
            df_5.loc[row_label, 'rank'] = 'n.a.'
            df_5.loc[row_label, 'sexus'] = g
            df_5.loc[row_label, 'year'] = y
            row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendliche_16_bis_unter_18'

df_laender_16_bis_unter_18 = df_4[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_laender_16_bis_unter_18.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/4070578696.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
2875,Saarland,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,23.34
2876,Sachsen,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,27.55
2877,Sachsen-Anhalt,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,12.12
2878,Schleswig-Holstein,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,20.28
2879,Thüringen,2022,jugendliche_16_bis_unter_18,X,other,other,n.a.,19.01

In [14]:
# heranwachsende_18_bis_unter_21
df_1 = df_laender_abs[['bundesland', 'schluessel', 'straftat', 'sexus', 'year', 'heranwachsende_18_bis_unter_21']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['bundesland', 'sexus', 'year', 'heranwachsende_18_bis_unter_21']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year', 'bundesland'])['heranwachsende_18_bis_unter_21']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year', 'bundesland'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['heranwachsende_18_bis_unter_21_x'] / df_4['heranwachsende_18_bis_unter_21_y'] * 100

df_4 = df_4.drop(columns='heranwachsende_18_bis_unter_21_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
bundeslaender = ['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen']
row_labels = []

for y in year:
    for g in gender:
        for b in bundeslaender:
            row_label = g + str(y) + b
            df_5.loc[row_label] = df_5[(df_5['bundesland'] == b) & (df_5['sexus'] == g) & (df_5['year'] == y)].sum()
            df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
            df_5.loc[row_label, 'bundesland'] = b
            df_5.loc[row_label, 'schluessel'] = 'other'
            df_5.loc[row_label, 'straftat'] = 'other'
            df_5.loc[row_label, 'rank'] = 'n.a.'
            df_5.loc[row_label, 'sexus'] = g
            df_5.loc[row_label, 'year'] = y
            row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'heranwachsende_18_bis_unter_21'

df_laender_18_bis_unter_21 = df_4[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_laender_18_bis_unter_21.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/348665767.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
2875,Saarland,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,35.71
2876,Sachsen,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,43.66
2877,Sachsen-Anhalt,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,30.48
2878,Schleswig-Holstein,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,25.74
2879,Thüringen,2022,heranwachsende_18_bis_unter_21,X,other,other,n.a.,25.96

In [15]:
# jugendl_u_heranwachsende_14_bis_unter_21
df_1 = df_laender_abs[['bundesland', 'schluessel', 'straftat', 'sexus', 'year', 'jugendl_u_heranwachsende_14_bis_unter_21']]

# bund_straftaten_insg_absolut
df_2 = df_1[df_1['schluessel'] == '------']
df_2 = df_2[['bundesland', 'sexus', 'year', 'jugendl_u_heranwachsende_14_bis_unter_21']]

df_3 = df_1[df_1['schluessel'] != '------']

df_3['rank'] = (
    df_3.groupby(['sexus', 'year', 'bundesland'])['jugendl_u_heranwachsende_14_bis_unter_21']
        .rank(ascending=False, method='first')
        .astype(int)
)

df_4 = df_3.merge(df_2, on=['sexus', 'year', 'bundesland'], how='left')

df_4['certain_crime_percent_of_total_crime'] = df_4['jugendl_u_heranwachsende_14_bis_unter_21_x'] / df_4['jugendl_u_heranwachsende_14_bis_unter_21_y'] * 100

df_4 = df_4.drop(columns='jugendl_u_heranwachsende_14_bis_unter_21_y')

df_5 = df_4.copy()
gender = ['M', 'W', 'X']
year = [2018, 2019, 2020, 2021, 2022]
bundeslaender = ['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen', 'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz', 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen']
row_labels = []

for y in year:
    for g in gender:
        for b in bundeslaender:
            row_label = g + str(y) + b
            df_5.loc[row_label] = df_5[(df_5['bundesland'] == b) & (df_5['sexus'] == g) & (df_5['year'] == y)].sum()
            df_5.loc[row_label, 'certain_crime_percent_of_total_crime'] = 100 - df_5.loc[row_label, 'certain_crime_percent_of_total_crime']
            df_5.loc[row_label, 'bundesland'] = b
            df_5.loc[row_label, 'schluessel'] = 'other'
            df_5.loc[row_label, 'straftat'] = 'other'
            df_5.loc[row_label, 'rank'] = 'n.a.'
            df_5.loc[row_label, 'sexus'] = g
            df_5.loc[row_label, 'year'] = y
            row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_5.loc[l]

df_4 = df_4.reset_index()
df_4 = df_4.drop(columns='index')

values = df_4['certain_crime_percent_of_total_crime'].tolist()
new_values = []
for v in values:
    new_v = normal_round(num=v, ndigits=2)
    new_values.append(new_v)
    
df_4['certain_crime_percent_of_total_crime'] = new_values
df_4['age_group'] = 'jugendl_u_heranwachsende_14_bis_unter_21'

df_laender_14_bis_unter_21 = df_4[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]

df_laender_14_bis_unter_21.tail()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_2993/2758809130.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['rank'] = (

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
2875,Saarland,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,26.76
2876,Sachsen,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,33.62
2877,Sachsen-Anhalt,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,20.55
2878,Schleswig-Holstein,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.40
2879,Thüringen,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.47

In [16]:
df_distribution_crime_laender = pd.concat([df_laender_14_bis_unter_16, df_laender_16_bis_unter_18, df_laender_18_bis_unter_21, df_laender_14_bis_unter_21])
df_distribution_crime_laender = df_distribution_crime_laender.reset_index()
df_distribution_crime_laender = df_distribution_crime_laender.drop(columns='index')
df_distribution_crime_laender = df_distribution_crime_laender[['bundesland', 'year', 'age_group', 'sexus', 'schluessel', 'straftat', 'rank', 'certain_crime_percent_of_total_crime']]
df_distribution_crime_laender.tail()

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
11515,Saarland,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,26.76
11516,Sachsen,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,33.62
11517,Sachsen-Anhalt,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,20.55
11518,Schleswig-Holstein,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.40
11519,Thüringen,2022,jugendl_u_heranwachsende_14_bis_unter_21,X,other,other,n.a.,21.47

# Bund + Laender

In [17]:
df_distribution_crime_bund.head(2)

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
0,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,5.48
1,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,1.39

In [18]:
df_distribution_crime_laender.head(2)

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
0,Baden-Württemberg,2018,jugendliche_14_bis_unter_16,M,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,4.92
1,Bayern,2018,jugendliche_14_bis_unter_16,M,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,5.85

In [19]:
df_distribution_crime = pd.concat([df_distribution_crime_bund, df_distribution_crime_laender])
df_distribution_crime = df_distribution_crime.reset_index()
df_distribution_crime = df_distribution_crime.drop(columns='index')
df_distribution_crime.head()

,bundesland,year,age_group,sexus,schluessel,straftat,rank,certain_crime_percent_of_total_crime
0,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,5.48
1,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,1.39
2,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,X,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,5,4.17
3,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,M,210000,"Raub, räuberische Erpressung und räuberischer Angriff auf Kraftfahrer §§ 249-252, 255, 316a StGB",6,3.63
4,Bundesrepublik Deutschland,2018,jugendliche_14_bis_unter_16,W,210000,"Raub, räuberische Erpressung und räuberischer Angriff auf Kraftfahrer §§ 249-252, 255, 316a StGB",7,0.92

# upload to Database

In [20]:
schema='public'
table_name = 'df_distribution_crime_2022_until_2018'
engine = get_engine()
print(engine)

Engine(postgresql://user:***@host/database)

In [21]:
if engine!=None:
    try:
        df_distribution_crime.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The df_distribution_crime_2022_until_2018 table was imported successfully.